@{
    ViewBag.Title = "Tran Duy Vu";
}
<h2>@ViewBag.Title.</h2>
<h3>Bai thi giua ky cua Tran Duy Vu</h3>

<address>
  K22CNT3 - Mon lap trinh ung dung Web Cong Nghe ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Chungtrinhj@gmail.com">Chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:duyvutran2004@gmail.com">duyvutran2004@gmail.com</a>
</address>